table {
	border-spacing: 0;

	th,
	td {
		padding: 4px;
		text-align: left;
	}
	thead {
		th {
			position: sticky;
			top: 0;
			border-bottom: 1px solid palette(grey, light);
			background-color: palette(white, base);
		}
	}
}

.br-difference {
	&--0 {
		background-color: palette(green, base);
	}
	&--3,
	&--4 {
		background-color: palette(green, pale);
	}
	&--6,
	&--7 {
		background-color: palette(red, pale);
	}
	&--10 {
		background-color: palette(red, base);
	}
}
.accessible {
	.br-difference {
		// Accessible (colour-blind) colours
		&--0,
		&--3,
		&--4 {
			background-color: palette(green, accessible);
		}
		&--6,
		&--7,
		&--10 {
			background-color: palette(red, accessible);
		}
	}
}