// Fonts
$font-family-serif: Georgia, 'Bitstream Charter', serif;
$font-family-sans-serif: Arial, sans-serif;
$font-family-monospace: 'Courier New', monospace;

$ff-s: $font-family-serif;
$ff-ss: $font-family-sans-serif;
$ff-m: $font-family-monospace;

// Colours
$palettes: (
	black: (
		light: rgb(33,33,33),
		base: rgb(0,0,0),
	),
	grey: (
		light: rgb(99,99,99),
		base: rgb(77,77,77),
		dark: rgb(55,55,55),
	),
	white: (
		base: rgb(255,255,255),
	),
	red: (
		base: rgba(200,30,30,0.5),
		pale: rgba(220,150,150,0.5),
		accessible: rgba(132, 46, 152, 0.5),
	),
	green: (
		base: rgba(30,200,30,0.5),
		pale: rgba(150,220,150,0.5),
		accessible: rgba(166, 237, 178, 0.5),
	),
);
