:root,
html {
	font-size: 100%;
	font-size: 1rem;
}
body {
	font-family: $ff-ss;
	font-size: 1rem;
	font-size: calc(1rem + 0.33vw);
	color: palette(black, light);
}

// Headings
h1 {
	font-size: 2.5em;
	margin: 0.5em 0;
}
h2 {
	font-size: 2em;
	margin: 0.375em 0;
}
h3 {
	font-size: 1.5em;
	margin: 0.25em 0;
}
h4 {
	font-size: 1.25em;
	margin: 0.25em 0;
}